body {
    color: rgb(233, 142, 117);
    background: rgb(226, 125, 130);
    margin: 0px;
    font-family: "Rubik Wet Paint", system-ui;
}

header {
    border-bottom: solid 2px rgb(218, 83, 83);
    padding: 20px;
    font-size: 32px;
    color: rgb(217, 119, 119);
}

.background {
    background: url('bg-desktop.gif');
}

.chamada {
    background: rgb(228, 126, 126);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px rgb(208, 38, 38);
}

.video {
    border: solid 2px rgb(219, 139, 199);
}

.chamada-texto {
    margin-right: 5%;
}

.typewriter {
    display: inline-block;
    white-space: nowrap;
}

.text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(219, 96, 85);
    /* Define a cor do texto */
}

.cursor {
    display: inline-block;
    color: rgb(244, 151, 233);
    /* Define a mesma cor do texto */
    animation: blink-caret 0.7s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    scrollbar-color: rgb(241, 130, 197) rgb(214, 91, 91);
    scrollbar-width: thin;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(214, 118, 118);
}

.categoria h2 {
    color: rgb(218, 147, 147);
}

.copyright {
    font-size: 50px;
    padding: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}